name: Scrape

on:
  schedule:
    - cron: "0 0 5 * *"
  workflow_dispatch:

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  scrape-latest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install requirements
        run: pip3 install -r requirements.txt
      - name: Copy cacert
        run: cp cacert.pem out
      - name: Run Scraper
        env:
          DATABASE: ${{ secrets.DATABASE }}
          HOST: ${{ secrets.HOST }}
          KEY_GOIANA: ${{ secrets.KEY_GOIANA }}
          PASSWORD: ${{ secrets.PASSWORD }}
          USERNAME: ${{ secrets.USERNAME }}
        run: python main.py
